.navbar-nav li a{
    color:var(--white) !important;
    color:#fff;
}

.affiliate-slider{
	-webkit-mask-image: -webkit-linear-gradient( 0deg , rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}
.padding-black {
    background: rgba(0,0,0,0.60);
    padding: 25px;
}

/*for single job header  */
.singlebanner {
    width: 100%;
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}